body {
    background-color: #292C35;
    font-size: 40px;
    font-weight: 700;
    color: #63DAFC;
}

.wrapper {
    text-align: center;
    border: #63DAFC 4px solid;
    border-radius: 15px;
    width: 400px;
    padding: 50px 0px;
    /*margin: 100px auto 0px;*/
}

.count {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 60px 0px;
    border-radius: 15px;
    border: #63DAFC 4px solid;
    /*background-color: #63DAFC;*/

}

.error {
    color: #ff004d;
    font-size: 42px;
    font-weight: 800;
}

.errorText {
    color: #ff004d;
    font-size: 26px;
}

.editSet {
    color: #63DAFC;
    font-size: 26px;
}

.btnWrapper {
    padding: 20px 0px;
    width: 300px;
    margin: 20px auto 0px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    border: #63DAFC 4px solid;
    border-radius: 13px;
}

.btn {
    font-size: 25px;
    font-weight: 800;
    color: #292C35;
    background-color: #63DAFC;
    border: none;
    border-radius: 10px;
    padding: 5px 13px;
}

.btn:hover {
    color: white;
    box-shadow: 0px 4px 10px #63DAFC;
}

.btn:disabled {
    color: #292C35;
    opacity: 50%;
    box-shadow: none;
}